.bubble {
    background: #f8f9fa !important;
    padding: 10px 25px !important;
    border-radius: 40px !important;
    margin: 1% 0 1% 0 !important;
}

.mine {
    background: #dee2e6 !important;
    text-align: right !important;
}

.deleteModal {
    border-radius: 30px !important;
    padding: 10px !important;
    width: 20% !important;
}

.deleteModal * {
    text-align: center !important;
    font-weight: 500;
    font-size: 1.1rem !important;
}

.deleteModal button {
    border-radius: 30px !important;
    padding: 12px !important;
}
